.main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.home-container {
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: rgb(156 163 175 / 1);
  background-clip: padding-box;
  --tw-backdrop-blur: blur(16px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);


  @media (min-width: 640px) {
    height: 450px;
  }

  @media (min-width: 768px) {
    height: 550px;
  }
}